## Ignore Python compiled files in __pycache__ directories
**/__pycache__/
## Ignore Visual Studio Code settings folder
**/.vscode/ 
## Ignore application log files
*.log
## Ignore application created CSV data files
data/*.csv
## Ignore results and output files
results/
